# ignore everything by default
* 

# add exceptions for 

# all .go files
!*.go
!go.*
!pkg/
!pkg/**/

# examples
!examples/

# tests
!tests/e2e/
!tests/integration/
!*.yml

# misc
!LICENSE
!examples/**/*
!README.md
!.gitignore
